//META{"name":"devleo","description":"first project","author":"devleo","version":"0.1"}*//{}
.scroller-2wx7Hm {
    background: #222326;
}

.scroller-2LSbBU {
    background: #222326;
}

.form-2fGMdU {
    background: #222326;
}

.theme-dark .form-2fGMdU:before {
    background: #222326;
}

.header-2o-2hj {
    background: #222326;
}

.title-3qD0b- {
    background: #222326;
}

.theme-dark .children-19S4PO:after {
    background: #222326;
}

.members-1998pB {
    background: #222326;
}

.content-3YMskv {
    background: #222326;
}

1998pB>div {
    background-color: #222326;
}

.da-expandedFolderBackground {
    background-color: #2f3136;
}

.da-attachButton {
    background: #1a1a1a;
}

.da-themed {
    background-color: #222326;
}

.container-1r6BKw.themed-ANHk51 {
    background: #222326;
}

.members-1998pB, .members-1998pB>div {
    background-color: #222326;
}

.placeholder-37qJjk, .slateTextArea-1Mkdgw .hljs-comment, .slateTextArea-1Mkdgw .hljs-quote {
    color: #9f9f9f;
}

.placeholder-37qJjk, da-placeholder, .fontSize16Padding-3Wk7zP {
    background: #1a1a1a;
}

.buttons-3JBrkn, da-buttons {
    background: #1a1a1a;
}

.scrollableContainer-2NUZem, .webkit-HjD9Er, da-webkit {
    background: #1a1a1a;
}

.container-3baos1, da-container {
    background: #1a1a1a;
}

.grid-1nZz7S, da-grid {
    background: #1a1a1a;
    border-radius: 0 8px 8px 0;
}

.DraftEditor-root {
    background: #1a1a1a;
    border-radius: 8px 0 0 8px
}

.icon-38sknP, da-icon, iconLayout-1WxHy4, da-iconLayout, small-1lPjda {
    background: #1a1a1a;
    border-radius: 0 8px 8px 0
}

.auto-Ge5KZx, .scrollerBase-289Jih {
    background: #222326;
}

.actionButton-uPB8Fs {
    background: #1a1a1a;
}

.nowPlayingColumn-2sl4cE {
    background: #222326;
}

.emptyCard-1RJw8n, .da-emptyCard {
    background: #1a1a1a;
}

.wrapper-1-Fsb8, .header-ywPcAE {
    background: #222326;
}

.theme-dark .wrapper-1-Fsb8, .contentWrapper-SvZHNd {
    background: #222326;
}

.input-1Rv96N {
    background: #1a1a1a;
    border-radius: 8px;
}

.searchBar-6Kv8R2 {
    background: #222326;
}

.container-3baos1 {
    background: #222326;
}

.wrapper-35wsBm {
    background: #1a1a1a;
}

.header-8ilj5e {
    background: #222326;
}

.friendsEmpty-1K9B4k {
    background: #222326;
}

.flex-1O1GKY, .vertical-V37hAW, .flex-1O1GKY, .directionColumn-35P_nr, .justifyStart-2NDFzi, .alignStretch-DpGPf3, .noWrap-3jynv6, .header-1TKi98 {
    background: #222326;
}

.flex-1xMQg5{
    background: #222326;
}
#user-settings > div > div.contentRegion-3nDuYy.da-contentRegion > div > div > main > div > div > div:nth-child(3) > div > div.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.marginReset-236NPn.da-marginReset {
    background: #222326;
}
#user-settings > div > div.contentRegion-3nDuYy.da-contentRegion > div > div > main > div > div > div:nth-child(3) > div > div.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.marginReset-236NPn.da-marginReset > div.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStart-H-X2h-.noWrap-3jynv6 > div:nth-child(1){
    background: #222326;
}

.theme-dark .friendSelected-1sa4bG {
    background: #222326;
}

.channelHeader-3Gd2xq {
    background: #222326;
}

.messages-3G3erD {
    background: #1a1a1a;
}

.authedApp-mj2Hmd, .marginBottom8-AtZOdT, .cardPrimaryOutline-29Ujqw, .card-3Qj_Yx {
    background: #1a1a1a;
    border-radius: 8px;
}

.horizontal-2EEEnY, .flex-1O1GKY, .directionRow-3v3tfG, .justifyStart-2NDFzi, .alignStretch-DpGPf3, .noWrap-3jynv6, .headerInfo-30WFqE{
    background: #1a1a1a;
}

#user-settings > div > div.contentRegion-3nDuYy.da-contentRegion > div > div > main > div > div > div.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.marginTop20-3TxNs6.da-marginTop20.marginBottom20-32qID7.da-marginBottom20{
    background: #222326;
}

#user-settings > div > div.contentRegion-3nDuYy.da-contentRegion > div > div > main > div > div > div.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.marginTop20-3TxNs6.da-marginTop20.marginBottom20-32qID7.da-marginBottom20 > div.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStart-H-X2h-.noWrap-3jynv6 {
    background: #222326;
}
